<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css'  href='../assets/stylesheets/normalize.css'>
    <link rel='stylesheet' type='text/css' href='../assets/stylesheets/application.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='../assets/javascripts/application.js'></script>
    <title>Fabian Pombo | Portfolio</title>
  </head>
  <body>

    <div class="nav-wrapper">

      <div class='nav-bar'>
        <a href='index.html'>HOME</a>
        <a class ='work' href='work.html'>WORK</a>
        <a class='current-page' href='#'>ABOUT</a>
        <a href='contact.html'>CONTACT</a>
      </div>

      <div id='dropdown-work'>
        <a href='work.html#all-work-design'>DESIGN</a><br>
        <a href='work.html#all-work-web'>WEB</a><br>
      </div>

    </div>

    <div class='about-me'>

      <img id='about-me-image' src='../assets/images/about_me_img.jpg' alt='About Me Image'>

      <div id='about-paragraph'>
        <img id='about-image' src='../assets/images/about_img.png' alt='About Image'>
        <p>
          I always wanted to make beautiful things.
          I wanted to rid the world of bad typography and questionable color combinations.
          I graduated the University of Miami in December 2015 where I studied Art-Direction and Graphic Design to do just that.
        </p>
        <br>
        <p>
          Along the way I took an introduction to the web class and found a new passion.
          Immediately after graduating I enrolled in a nine-week web-immersive coding bootcamp, <a href='https://wyncode.co/'>Wyncode</a>.
          It was a life changing experienced that helped me further develop coding skills.
        </p>
        <span><a href='../assets/images/resume_fabianpombo.pdf' target='_blank'>RESUME</a></span>
      </div>

    </div>

  </body>
</html>
