@media only screen and (min-width: 960px) {

  body {
    background-color: black;
    width: 100%;
  }

  .nav-wrapper {
    margin-left: 68%;
  }

  .nav-bar {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-bar a {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: .65em;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    margin: 0;
    margin-right: 30px;
  }

  .nav-bar a:last-of-type {
    margin-right: 0;
  }

  .nav-bar a:hover {
    color: #FEEA34;
  }

  #dropdown-work {
    display: none;
    text-align: left;
    background-color: black;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-left: 4.6em;
  }

  #dropdown-work a {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: .6em;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
  }

  #dropdown-work a:last-of-type {
    margin-right: 0px;
  }

  #dropdown-work a:hover {
    color: #FEEA34;
  }

  .current-page {
    color: #FEEA34;
    padding-bottom: 2px;
    border-bottom: 1px solid #FEEA34;
  }

  .current-page a:first-of-type {
    color: #FEEA34;
  }

  #background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
  }

  #logo-image {
    width: 30em;
    position: relative;
    left: 12em;
    margin-top: 20%;
    display: none;
  }

  #graphic-design {
    width: 21.5em;
    position: relative;
    left: 12em;
    margin: 0px;
    opacity: 0;
  }

  #front-end {
    width: 26.5em;
    position: relative;
    left: 13em;
    margin: 0px;
    opacity: 0;
  }


/* ============================== WORK PAGE ================================= */

  h2 {
    letter-spacing: 2px;
  }

  .all-work {
    color: white;
  }

  .design-work {

  }


/* ============================== ABOUT PAGE ================================ */




/* ============================ CONTACT PAGE ================================ */

  #contact-image {
    width: 18em;
    position: relative;
    margin-top: 20%;
    display: none;
    left: 12em;
  }

  .contact-info i {
    font-size: 2.5em;
    color: white;
    opacity: .1;
    position: relative;
    left: 3.8em;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .contact-info i:hover {
    color: #FEEA34;
  }

  .contact-info span {
    position: relative;
    color: white;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(254,235,10, .75);
    font-size: 2em;
    left: 6.8em;
    display: none;
  }

}
