<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300italic,300,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"  href="../assets/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/application.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../assets/javascripts/application.js"></script>
    <title>Fabian Pombo | Portfolio</title>
  </head>
  <body>

    <img src="../assets/images/background_img.jpg" alt="Background Image">

    <div class="nav-bar">
      <a href="url">WORK</a>
      <a href="url">ABOUT</a>
      <a href="url">CONTACT</a>
    </div>

    <img src="../assets/images/new_logo.png" alt="Logo Image">


  </body>
</html>
