@media only screen and (min-width: 960px) {

  body {
    height: 100%;
    background-color: black;
  }

  .nav-bar {
    width: 100%;
    background-color: black;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-bar a {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: .65em;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
  }

  .nav-bar a:first-of-type {
    margin-left: 10%;
  }

  #dropdown-work {
    display: none;
    background-color: black;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-left: 9%;
    width: 210px;
  }

  #dropdown-work a {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: .6em;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left: 10px;
  }

  #dropdown-work a:last-of-type {
    margin-right: 0px;
  }

  #background-image {
    width: 100%;
    position: absolute;
  }

  .shadow-effect img {
    -webkit-filter: drop-shadow(1px 1px 5px rgba(0,0,0,0.8));
  }

  #logo-image {
    width: 33%;
    position: relative;
    left: 12.5%;
    margin-top: 20%;
  }

  #graphic-design {
    width: 25%;
    position: relative;
    left: 12.5%;
    margin-top: 10px;
  }

  #front-end {
    width: 30%;
    position: relative;
    left: 12.5%;
    margin-top: 5px;
  }

}
